/**
 * Page: 首页
 * Author: Moss
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 50rpx;
    color: #000;
    line-height: 60rpx;
    padding-top: 140rpx;
    letter-spacing: 5rpx;
  }
  .text {
    font-size: 30rpx;
    color: #333;
    line-height: 50rpx;
  }
  .button {
    padding-top: 750rpx;
    button {
      width: 300rpx;
      height: 100rpx;
      line-height: 100rpx;
      border-radius: 100rpx;
      border: 1px solid #333;
      font-size: 30rpx;
      color: #333;
      box-shadow: 0 5rpx 10rpx rgba(0,0,0,.2);
    }
  }
}
