/**
 * Page: 分享
 * Author: Moss
*/

.container {
  .canvas {
    padding-top: 150rpx;
    canvas {
      background: #fff;
      border-radius: 10rpx;
      margin: 20rpx auto;
      box-shadow: 0 6rpx 6rpx rgba(0,0,0,.1);
      margin: 0 auto;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    padding: 40rpx 0;
    .button {
      button {
        width: 180rpx;
        height: 60rpx;
        line-height: 60rpx;
        padding: 0;
        border-radius: 60rpx;
        font-size: 26rpx;
        border: 1px solid #333;
        color: #333;
      }
    }
  }
  .colorPicker {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    .level1 {
      width: 100%;
      white-space: nowrap;
      padding-bottom: 30rpx;
      scroll-view {
        display: inline-block;
        width: 100%;
        .item {
          width: 60rpx;
          height: 60rpx;
          margin-left: 50rpx;
          display: inline-block;
          overflow: hidden;
          position: relative;
          &:last-child {
            margin-right: 50rpx;
          }
          text {
            position: absolute;
            top: 15rpx;
            left: 15rpx;
            font-size: 30rpx;
            color: #fff;
          }
        }
      }
    }
    .level2 {
      display: flex;
      justify-content: center;
      padding-bottom: 30rpx;
      .item {
        width: 60rpx;
        height: 40rpx;
        position: relative;
        text {
          position: absolute;
          top: 5rpx;
          left: 15rpx;
          font-size: 30rpx;
          color: #fff;
        }
      }
    }
  }
}